body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	text-align: center;
	padding-left: 25%;
	padding-right: 25%;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

main {
	margin: 50px auto;
	max-width: 800px;
	padding: 20px;
	background-color: #f8f9fa;
	border: 1px solid #d6d8db;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

form {
	display: flex;
	flex-direction: column;
}

input[type="text"], input[type="email"], textarea {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #d6d8db;
	margin-top: 5px;
}

label {
	margin-top: 5px;
}

button {
	background-color: #04AA6D;
	color: white;
	padding: 14px 20px;
	margin-top: 20px;
	border: none;
	border-radius: 32px;
	cursor: pointer;
	width: 100%;
	opacity: 0.8;
}
  
button:hover {
	opacity:1;
}
  
.submitbtn {
	text-align: center;
	font-weight: 800;
	font-size: medium;
	width: 50%;
}

.clearfix {
    padding-left: 30%;
}
